// About Styles



.about {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    h1{
        width: 100%;
        text-align: center;
    }

    article {
        width: 87%;

        p {
            text-align: justify;
        }
    }

    @include mq($tablet-portait) {
        article {
            width: 90%;
        }
    }
}