// Banner Styles
.banner {
    position: relative;
    z-index: 800;

    img {
        animation: fadeIn 4s ease both;
    }

}

.info-box {
    position: absolute;
    top: 4vw;
	left: 8vw;
	color: white;
    animation: slideInLeft 1.5s 0.5s 1 ease both;

    @include mq($tablet-portait) {
        &{
            top:3vw;
            left: 8vw;
        }
    }

    @include mq($tablet-portrait-medium) {
        &{
            top:1vw;
            left: 8vw;
        }
    }

    @include mq($phone-wide) {
        &{
            top:-7vw;
            left: 3vw;
        }
    }
    
    h1 {
        margin-bottom: 0.2em;
    }
}

// Banner Image Animation Keyframes
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	
	to {
		opacity: 1;
	}
}

// Info Box Animation Keyframes
@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
	opacity: 0;
    visibility: visible;
  }

  to {
    transform: translatX(0);
 	opacity: 1;
  }
}