.contact-info-box
{
     -moz-border-radius: 6px;
     -webkit-border-radius: 6px;
     background-color: #f0f7fb;
     background-position: 9px 0px;
     background-repeat: no-repeat;
     border-radius: 0px;
     line-height: 18px;
     overflow: hidden;
     padding: 15px 60px;
     padding-left: 50px;
     margin: 50px;
     display: grid;
	grid-template-columns: 1fr 1fr;
}

.contact-inner-box
{
     -moz-border-radius: 6px;
     -webkit-border-radius: 6px;
     background-color: #f0f7fb;
     background-position: 9px 0px;
     background-repeat: no-repeat;
     border: solid 1px #3498db;
     border-radius: 6px;
     line-height: 18px;
     overflow: hidden;
     padding: 15px 30px;
     margin: 20px;
}

label.description
{
	border:none;
	color:#222;
	display:block;
	font-size:95%;
	font-weight:700;
	line-height:150%;
	padding:0 0 1px;
}

.heading
{
	border:none;
     margin-left: 50px;
     margin-top: 80px;
}

form ul
{
	font-size:100%;
	list-style-type:none;
	margin:0;
	padding:0;
	width:100%;
}

form li
{
	display:block;
	margin:0;
	padding:4px 5px 2px 9px;
	position:relative;
}

form li div
{
	color:#444;
	margin:0 4px 0 0;
	padding:0 0 8px;
}
