// Header Styles
$header-height: auto;
header {
    @include flex-layout-row;
    height: $header-height;

    .logo {
        box-shadow: 0 1px 6px 0 rgba(black, 0.25);
        background-color: $bg-wrapper-color;
        padding: 0 $padding;
        position: relative;
        z-index: 900;
        height: 116px;
        width: 153px;
        margin-left: 20px;
        display: flex;
        align-items: center;
        transition: all 0.3s ease;
    
        #{$link-hover-selector}{
            height: 126px;
        }

    }

    @include mq($phone-wide) {
        align-items: center;
        height: $header-height-mobile;

        .logo {
            height: auto;
            width: 46px;
            padding: 0;
            box-shadow: none;

            #{$link-hover-selector} {
                height: auto;
            }

        }

    }

}

.btn-menu {
    display: none;
  }

  .show {
    display: block;
  }

  .show ul{
    display: block;
  }


@media (max-width: 760px) {
    .btn-menu {
      margin: 5px 5px;
      background-color: #3D4663;
      width: 10%;
      border-radius: 3px;
      color: white;
      display: block;
      border: none;
      color: white;
    }
  
    .btn-menu:focus {
      outline: 2px dotted rgba(0,0,0, 0.7);
    }
  
    .btn-menu:visited {
      color: #8B0000;
    }
  
    header nav {
        display: none;
        width: 100%;
    }

    nav > ul {
        display: flex;
        flex-direction: column;
    }
  
    .wrapper h1 {
      font-size: 4.5vw;
    }
  
    footer {
      padding: 10px 20px;
    }
  
    footer .row {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  
    .one-col-narrow, .three-col {
      margin: 10px auto;
      width: 100%;
    }
  
  }