.resources-inner-box
{
     -moz-border-radius: 6px;
     -webkit-border-radius: 6px;
     background-color: #f0f7fb;
     background-position: 9px 0px;
     background-repeat: no-repeat;
     border: solid 1px #3498db;
     border-radius: 6px;
     line-height: 18px;
     overflow: hidden;
     padding: 15px 30px;
     width: auto;
     margin: 30px;
}

.resources-info-box
{
     -moz-border-radius: 6px;
     -webkit-border-radius: 6px;
     background-color: #f0f7fb;
     background-position: 9px 0px;
     background-repeat: no-repeat;
     border-radius: 0px;
     line-height: 18px;
     overflow: hidden;
     padding: 15px 60px;
     padding-left: 50px;
     margin: 50px;
}