@charset "utf-8";

$day-bg-color: #022e72;
/* CSS Document */

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.schedule {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(100px, auto);
}

.schedule > div:nth-child(1) {
    position: relative;
    padding: 1em;
}

.schedule div:nth-child(1) > h2 {
    padding: 0.1em;
}

.toggleBtn {
    background:#022e72;
    min-width: 10em;
}

.month-label {
    margin: 1em auto;
    font-size: 1.5em;
}


.month.calendar{
    margin: 0 10px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 0.1em;
    grid-row-gap: 0.3em;
    grid-auto-rows: minmax(200px, auto);
}

.month.calendar.list {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0.1em;
    grid-auto-rows: minmax(1em, auto);
}


.day {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 2fr 1fr;
    grid-gap: .1em;
    padding: 1px;
    background-color: white;
    border: 1px solid lightgrey;
}



.day.list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-row-gap: 1px;
    padding: 1px;
    background-color: white;
    font-size: 0.8em;
}


.day > h4 {
    margin: 0;
    padding: 5px;
    background-color: $day-bg-color;
    color: white;
    height: 90%; 
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;

}

.day > p {
    margin: 0.3em;
    padding: 0.3em;
    text-align: center;
}

.day p:nth-child(2) {
    color: #052960;
    font-weight: bold;
}

.day p:nth-child(4) {
    color: lightskyblue;
}
